#!/usr/bin/make -f
# sim-im debian/rules that uses debhelper.
# Copyright (c) 2006-2008 Alexander 'zowers' Petrov.


CMAKE_INSTALL_PREFIX=/usr
DEV_BUILD=NO
SIM_ENABLE_FPIE=YES
USE_GCC_VISIBILITY=YES
WARN_FLAGS=-w -Wno-conversion -Wno-parentheses
CFLAGS:=$(CFLAGS) $(WARN_FLAGS)
CXXFLAGS:=$(CXXFLAGS) $(WARN_FLAGS)
COMMON_OPTIONS=-DCMAKE_C_FLAGS:STRING="$(CFLAGS)" \
	-DCMAKE_CXX_FLAGS:STRING="$(CXXFLAGS)" \
	-DCMAKE_INSTALL_PREFIX:STRING="$(CMAKE_INSTALL_PREFIX)" \
	-DDEV_BUILD:BOOL="$(DEV_BUILD)" \
	-DSIM_ENABLE_FPIE:BOOL="$(SIM_ENABLE_FPIE)" \
	-DUSE_GCC_VISIBILITY:BOOL="$(USE_GCC_VISIBILITY)"

SIM_OPTIONS	=	$(COMMON_OPTIONS) -DENABLE_KDE3:BOOL=YES
SIM_QT_OPTIONS	=	$(COMMON_OPTIONS) -DENABLE_KDE3:BOOL=NO

TMP_DIR	=	$(CURDIR)/debian/tmp


clean:
	dh_clean
	rm -f *-stamp
	rm -fr build-sim build-sim-qt


install: 	configure install-stamp
install-stamp:
	dh_testdir
	dh_testroot
	make -C build-sim    install DESTDIR=$(TMP_DIR)/sim
	make -C build-sim-qt install DESTDIR=$(TMP_DIR)/sim-qt
	find $(TMP_DIR) -type l -name libsim.so -exec rm -f '{}' +
	touch $@


configure: 	configure-stamp
configure-stamp:
	mkdir build-sim build-sim-qt
	cd build-sim && cmake $(SIM_OPTIONS) .. 
	cd build-sim-qt && cmake $(SIM_QT_OPTIONS) .. 
	touch $@

binary-arch: install
    # required

binary-indep: install
    # required

binary: binary-arch binary-indep
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installman
	dh_installmenu
	dh_install
	dh_lintian
	dh_link
	dh_strip
	dh_installdebconf
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb -- -Z bzip2

.PHONY: build \
	clean \
	binary \
	binary-arch \
	binary-indep \
	install \
	configure


