Source: sim
Section: net
Priority: optional
Maintainer: Alexander Petrov <zowers@gmail.com>
Build-Depends: debhelper (>> 4.0.0), flex, autoconf, automake1.9, autotools-dev, perl, libtool(>= 1.5.2), libfam-dev, libpng12-dev, libqt3-mt-dev, libqt3-headers, qt3-dev-tools, libssl-dev, kdelibs4-dev, zlib1g-dev, libexpat1-dev, libxml2-dev, libxslt1-dev, libxft-dev, libxss-dev, zip
Standards-Version: 3.6.2.1

Package: sim
Architecture: any
Depends: ${shlibs:Depends}
Description: Simple Instant Messenger (KDE)
 sim is a simple and powerful multi-protocol instant messenger.
 .
 Some of the features:
  * Supported protocols: ICQ, Jabber, MSN, AIM, 
    Yahoo!, LiveJournal;
  * Receiving and sending SMS;
  * Server-side contact list;
  * Receiving and the sending messages in RTF-format;
  * Phone directory support;
  * File transfers;
  * Chat;
  * Support Miranda icon themes;
  * Spam filter;
  * Secure direct connection with SIM and L-ICQ;
  * Message or chat mode for user window;
  * On-Screen display notification about messages and user status;
  * Sending of the messages to several users;
  * Proxy: HTTP/HTTPS, SOCKS4, SOCKS5.
 .
  Homepage: http://sim-im.org/
 .
  This package is compiled with KDE support.
  See the 'kde' package for more information about KDE.
