Source: sim
Section: net
Priority: optional
Maintainer: Nikolay Shaplov <n@shaplov.ru>
Build-Depends: debhelper (>> 4.0.0), cmake (>=2.4.4), flex,  perl, libtool, libfam-dev, libpng12-dev, libqt3-mt-dev, 
               libqt3-headers, qt3-dev-tools, libssl-dev, kdelibs4-dev, zlib1g-dev, libexpat1-dev, libxml2-dev, 
               libxslt1-dev, libxft-dev, zip
Standards-Version: 3.6.1

Package: sim
Architecture: any
Depends: ${shlibs:Depends}, sim-data (= ${Source-Version})
Conflicts: sim-qt (<= ${Source-Version})
Replaces:  sim-qt (<= ${Source-Version})
Suggests: gnupg (>= 1.4.3)
Description: Simple Instant Messenger (KDE)
 sim is a simple and powerful multi-protocol instant messenger.
 .
 Some of the features:
  * Supported protocols: ICQ, Jabber, MSN, AIM, 
    Yahoo!, LiveJournal;
  * Receiving and sending SMS;
  * Server-side contact list;
  * Receiving and the sending messages in RTF-format;
  * Phone directory support;
  * File transfers;
  * Chat;
  * Support Miranda icon themes;
  * Spam filter;
  * Secure direct connection with SIM and L-ICQ;
  * GPG encryption using gnupg;
  * Message or chat mode for user window;
  * On-Screen display notification about messages and user status;
  * Sending of the messages to several users;
  * Proxy: HTTP/HTTPS, SOCKS4, SOCKS5.
 .
  Homepage: http://sim-im.org/
 .
  This package is compiled with KDE support.
  See the 'kde' package for more information about KDE.

Package: sim-qt
Architecture: any
Depends: ${shlibs:Depends}, sim-data (= ${Source-Version})
Conflicts: sim (<= ${Source-Version})
Replaces:  sim (<= ${Source-Version})
Suggests: gnupg (>= 1.4.3)
Description: Simple Instant Messenger (Qt)
 sim is a simple and powerful multi-protocol instant messenger.
 .
 Some of the features:
  * Supported protocols: ICQ, Jabber, MSN, AIM, 
    Yahoo!, LiveJournal;
  * Receiving and sending SMS;
  * Server-side contact list;
  * Receiving and the sending messages in RTF-format;
  * Phone directory support;
  * File transfers;
  * Chat;
  * Support Miranda icon themes;
  * Spam filter;
  * Secure direct connection with SIM and L-ICQ;
  * GPG encryption using gnupg;
  * Message or chat mode for user window;
  * On-Screen display notification about messages and user status;
  * Sending of the messages to several users;
  * Proxy: HTTP/HTTPS, SOCKS4, SOCKS5.
 .
  Homepage: http://sim-im.org/
 .
  This package is compiled with Qt support.
  If you have KDE installed then install sim package instead.

Package: sim-data
Architecture: all
Conflicts: sim (<< ${Source-Version})
Replaces:  sim (<< ${Source-Version})
Suggests: sim (= ${Source-Version}) | sim-qt (= ${Source-Version})
Description: Simple Instant Messenger data files
 sim is a simple and powerful multi-protocol instant messenger.
 .
  This package contains data files for sim and sim-qt packages.
