#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

tmp = debian/sim
pixmaps = $(tmp)/usr/share/pixmaps
overrides = $(tmp)/usr/share/lintian/overrides
kdedocs = $(tmp)/usr/share/doc/kde/HTML

stamps_to_clean = build-stamp
files_to_clean = debian/debiandirs configure aclocal.m4 acinclude.m4 po/*gmo config.log config.status
#files_to_clean = debian/debiandirs admin/config.sub admin/config.guess admin/ltmain.sh configure admin/libtool.m4.in aclocal.m4 acinclude.m4 po/*gmo
dirs_to_clean = doc/en/HTML

INSTALL_DIR = install -p -d -o root -g root -m 755
INSTALL_FILE = install -p -o root -g root -m 644

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)


CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

config.status: configure
	dh_testdir
	# Add here commands to configure the package.
	QTDIR=/usr/share/qt3 kde_appsdir=/usr/share/applications ./configure --disable-rpath --enable-openssl \
	--enable-kde --prefix=/usr \
	--mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info

build: build-stamp
-include debian/debiandirs

debian/debiandirs: admin/debianrules
	perl -w admin/debianrules echodirs > debian/debiandirs


build-stamp:
#	-test -r /usr/share/misc/config.sub && \
#	cp -f /usr/share/misc/config.sub admin/config.sub
#	-test -r /usr/share/misc/config.guess && \
#	cp -f /usr/share/misc/config.guess admin/config.guess

#	/usr/bin/libtoolize -f
#	cp -f /usr/share/aclocal/libtool.m4 admin/libtool.m4.in
	$(MAKE) -f admin/Makefile.common

	./configure $(configkde)

	# Touch all the UI files.
	# This will force uic to regenerate .h as well as .cpp sources;
	# by default .cpp sources are regenerated but headers are not.
	# This avoids a uic version skew that broke kbear with the Qt 3.3
	# upgrade.
	touch `find . -name "*.ui"`

	$(MAKE)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	-$(MAKE) distclean
	-rm -f $(stamps_to_clean)
	-rm -f $(files_to_clean)
	-rm -rf $(dirs_to_clean)
	-find $(CURDIR) -name Makefile.in -exec rm -f {} \;

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Install pixmaps.
	$(INSTALL_DIR) $(pixmaps)
	$(INSTALL_FILE) debian/sim.xpm $(pixmaps)
	$(INSTALL_FILE) debian/sim-16.xpm $(pixmaps)
#	$(INSTALL_FILE) debian/sim.menu debian/sim/usr/share/menu/sim

	# Install overrides.
	$(INSTALL_DIR) $(overrides)
	$(INSTALL_FILE) debian/override $(overrides)/sim

	# Main install.
	$(MAKE) install DESTDIR=`pwd`/$(tmp)
	rm -f $(tmp)/usr/share/applications/sim/COPYING

	# Generate HTML docs.
	for i in `find $(tmp) -name "*.docbook"`; do \
	  pushd . > /dev/null; cd `dirname $$i`; meinproc `basename $$i`; \
	  popd > /dev/null; done

	# Make common links for docs.
	for i in `find $(kdedocs) -type d -name kbear`; do \
	  ln -f -n -s ../common $$i/common ; done
#	rm -f debian/sim/usr/share/menu/sim-kde.menu
#	rm -f debian/sim/usr/bin/simctrl
#	rm -f debian/sim/usr/share/applications/sim/COPYING

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installmenu
	dh_installmanpages
	dh_installchangelogs ChangeLog
	dh_installman -a debian/sim.3
	dh_link
	dh_strip
	dh_compress --exclude=.docbook --exclude=.bz2
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
